.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
gradle.properties
server/
server/world/level.dat
server/world/level.dat_old
server/world/data/raids.dat
server/world_nether/level.dat
server/world_nether/level.dat_old
server/world_nether/DIM-1/data/raids.dat
server/world_the_end/level.dat
server/world_the_end/level.dat_old
server/world_the_end/DIM1/data/raids_end.dat
